@using Patrones.Modelos.Data
@model IEnumerable<Beer>


<div class="row">
    <div class="col-12">
        @foreach (var beer in Model)
        {
            <p>@beer.Name</p>
        }
    </div>
</div>